.message-root{
  display: flex;
  height: calc(100% - 50px);
  .chat{
    flex: 2;
    height: auto;
  }
  .list{
    border-left: 1px solid #818181;
    background: #090C10;
    width: 400px;
    height: 100%;
  }
}
