<div class="chat-root">
  <div class="chat-wrap" cdkDrag cdkDragBoundary=".chat-root">
    <div class="chat-header" cdkDragHandle>
      <div class="chat-header-img"></div>
      <div class="chat-head">
        <div class="chat-title"><a href="#">Ivan Lekontsev</a></div>
        <div class="chat-sub_title">Online</div>
      </div>
      <button
        class="chat-menu"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>person_add</mat-icon>
          <span>Add friend</span>
        </button>
        <button mat-menu-item>
          <mat-icon>person_remove</mat-icon>
          <span>Delete friend</span>
        </button>
        <button mat-menu-item>
          <mat-icon>block</mat-icon>
          <span>Add in ignore</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings the chat</span>
        </button>
        <button mat-menu-item>
          <mat-icon>close</mat-icon>
          <span>Close</span>
        </button>
      </mat-menu>
    </div>
    <div class="chat-content">
      <div>[21:10] Ivan Lekontsev: hello world, how are you?</div>
    </div>
    <div class="chat-action">
      <div class="chat-footer">
        <span class="material-icons"> attach_file </span>

        <input autoComplete="off" class="chat-input" />
        <mat-icon matSuffix>mood</mat-icon>

        <button mat-raised-button class="chat-button">Basic</button>
      </div>
    </div>
  </div>
</div>
