
.list-wrap {
  border: 1px solid #656565;
  height: 100%;
  background: white;
  .list-text{
    padding: 5px;

    font-size: 30px;

  }
  .list-container {
    cursor: pointer;
    color: white;
    background: #161B22;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    overflow: auto;
    .list-container-img {
      background: white;
      margin: 10px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid black;
    }

    .list-head {
      flex: 1;
    }
  }
}
