
.list-wrap {

  height: 100%;
  background: #090C10;
  .list-text{
    padding: 5px;
  color: white;
    font-size: 30px;

  }
  .list-container {
    cursor: pointer;
    color: white;
    background: #161B22;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    overflow: auto;
    .list-container-img {
      margin: 10px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      .list-img{
        width: 100%;
        height: 100%;
      }
    }

    .list-head {
      flex: 1;
    }
  }
}
